#my-cv {
    width: 100%;
}

title {
    display: inline-block;
    padding: 12px;;
    /*position: absolute;*/
}

.box {
    border: 2px solid #FF4364;
}

.header {
    position: relative;
    margin-top: 36px;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: table;
}

.header > div {
    display: inline-block;
}

.header > .profile-picture {
    width: 220px;
    float: left;
}

.header > .box {
    width: 400px;
    float: right;
}

.header > .box > .contact-info {

}
